/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

/* Sección de Publicar Aviso */
.publicar-aviso-section {
    display: flex;
    flex-direction: column;
    justify-content: center;

    z-index: 1;
}

/* Fondo de video */
video {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

/* Estilos para el contenido del formulario */
.content {
    position: relative;
    z-index: 1;
    text-align: center;
    padding: 20px;
}

/* Titulo del formulario */
.titulo-formulario {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: #f5f5f5;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    cursor: default;
}

h2 hr {
    border: 2px solid rgba(255, 255, 255, 0.8);
    transform: translate(20%);
    width: 120%;

    transition: all 0.8s ease-in;
}

h2 hr:nth-child(1) {
    width: 80%;
    position: relative;
    transform: translate(-50%);
}


h2:hover hr{
    width: 80%;
    transform: translate(-50%);
}

h2:hover hr:nth-child(1){
    transform: translate(20%);
    width: 120%;
}

.titulo {
    z-index: 10;

    transition: all ease-in 0.5s;
}

.titulo:hover {
    color: rgb(254, 205, 69);
}

/* Formulario */
form {
    max-width: 400px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border: 5px solid #0000;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    z-index: 200;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #000000b2;
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button.submit-button, button.confirmar-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button.submit-button:hover, button.confirmar-button {
    background-color: #0056b3;
}


/* Estilos adicionales para Publicar Aviso */
#nombre, #descripcion, #precio {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#foto {
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#image-preview {
    min-height: 200px;
    max-width: 100%;
    max-height: 300px;
    margin: 10px 0;

    width: 100%;
    object-fit: scale-down;
}

.hidden {
    display: none !important;
}


/** Estilos para el Producto **/
.card {
    display: flex;
    flex-direction: column;
    padding: 0.4rem;
    background-color: rgba(0, 0, 0, 0.659);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;

    min-width: 400px;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    background-color: white;
    padding: 10px;
    min-width: 230px;
    max-height: 150px;
    object-fit: scale-down; /* Fue cambiado por object-fit */
}

.card-content {
    padding: 20px;
}

.card-titulo {
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-family: monospace;
    font-weight: bold;
    margin-bottom: 10px;
}

.card-precio {
    font-size: 1.2rem;
    color: #a59d9dca;
    margin-bottom: 10px;
}

.card-titulo, .card-precio{
    font-size: 1.4rem;
}

.card .cambiar {
    width: 100%;
    font-size: 0.8rem;
    color: black;
    padding: 5px;
    margin: 2px;
    border: none;
    background-color: white;
    font-weight: bold;
}

.card .cambiar:hover {
    background-color: #ffffff;
}

.card-descripcion {
    display: none !important;    
}


/* SLIDER **/
.side-bar {
    min-width: 340px;
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    color: #fff;

    display: flex;
    flex-direction: column;
    align-items: center;

    overflow-x: hidden;

    z-index: 1;

    position: relative;
}
.galeria-titulo {
    width: 100%;
    text-align: center;
    margin: 0 0 20px;
}

.galeria {
    padding: 0.5rem;
    gap: 1rem;

    display: flex;
    justify-content: flex-start; /* Añadido para alinear los elementos en la línea principal (horizontal) */

    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch; /* Propiedad necesaria para el desplazamiento suave en Safari */
    max-width: 100%;
    min-height: 100%;


}


.galeria::after {
    content: ""; /* Añadido para crear un pseudo-elemento al final de la galería */
    flex: auto; /* Añadido para que ocupe el espacio restante */
}

.galeria::-webkit-scrollbar {
    width: 10px; /* Ancho de la barra de desplazamiento vertical */
    height: 10px; /* Altura de la barra de desplazamiento horizontal */
}

/* Estilos de la barra de desplazamiento vertical */
.galeria::-webkit-scrollbar-thumb, .galeria::-webkit-scrollbar-thumb:horizontal {
    background-color: #000000; /* Color de fondo de la barra de desplazamiento vertical */
    border-radius: 6px; /* Radio de esquinas de la barra de desplazamiento vertical */
}

/* Estilos del "riel" de la barra de desplazamiento */
.galeria::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Color de fondo del riel de la barra de desplazamiento */
    border-radius: 6px; /* Radio de esquinas del riel de la barra de desplazamiento */
}

/* Estilos del "rincón" entre la barra de desplazamiento vertical y horizontal */
.galeria::-webkit-scrollbar-corner {
    background-color: #c08f8f; /* Color de fondo del rincón de la barra de desplazamiento */
}

/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
    form {
        max-width: 100%;
    }
}

/* Estilos para tabletas y pantallas más grandes */
@media (min-width: 769px) {
    form {
        max-width: 600px;
    }
}
