/*** Imports Fonts ***/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

/** Estilos generales **/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style: none;
}

a,a:hover,a::before,a::after,a:active{
    text-decoration: none;
}

body {
    font-family: sans-serif;
    font-weight: 700;
    font-size: large;

    position: relative;
}

/** Estilos utiles **/


/** Navbar **/
.navbar-top {
    width: 100%;
    display: block;

    position: fixed;
    top: 0;
    left: 0;

    z-index: 2;
    color: white;

    padding: 1rem;
}

.navbar-top:hover {
    background-color: #000000;
}

.navbar-top nav {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.navbar-top nav ul {
    display: flex;
    gap: 2rem;
}

.navbar-top nav ul li {
    cursor: pointer;
    transition: all 0.2s ease-in;
    font-weight: normal;
}

.navbar-top nav ul li:hover {
    font-weight: bold;
}

.iniciar-sesion-btn, #cerrar-sesion-btn {
    appearance: none;
    border: none;
    background: none;

    color: white;
    padding: 1rem;

    cursor: pointer;

    font-family: sans-serif;
    font-size: large;
    font-weight: bold;
}

.iniciar-sesion-btn:hover, #cerrar-sesion-btn:hover {
    background-color: white;
    color: black;
}

#cerrar-sesion-btn {
    display: none;
}

/* Formulario Inicio Sesion */
.cerrar-login-btn {
    position: absolute;
    right: 0;
    top: 0;
    margin: 2rem;

    width: 50px;
    height: 50px;

    border: none;
    background: none;

    color: white;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0.5rem;

    cursor: pointer;

    border-radius: 0.2rem;

    transition: transform ease-in 0.5s;
}

.cerrar-login-btn:hover {
    background-color: rgba(255, 255, 255, 0.411);
    color: #000000;
    transform: rotate(45deg);
}

.login-popup {
    position: fixed;
    width: 100%;
    height: 100vh;
    display: none;  /** Con el codigo js lo colocamos en flex */
    justify-content: center;
    align-items: center;
    z-index: 10;

    background-color: rgba(0, 0, 0, 0.281);
}

.login-form {
    border-radius: 0.6rem;
    background-color: rgba(255,255,255,0.8);
    padding: 1.5rem;
    width: 30rem;
    height: 22rem;
    text-align: center;
}

.login-form form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.5rem;
}

.contenedor{
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    gap: 0.4rem;
    margin-top: 1rem;
  }

  .login-form .opciones-login {
    display: flex;
    padding: 1rem;

    justify-content: space-between;
    align-items: center;
  }

  
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: none;
    border-radius: 4px;
  }

  input[type="text"]:focus,
  input[type="password"]:focus {
    outline: none;
  } 
  
  button[type="submit"] {
    background-color: #000000b2;
    color: #fff;
    border: none;
    border-radius: 1.5rem;
    padding: 1rem;
    margin-top: 10px;
    cursor: pointer;

    font-weight: 590;    
  }
  
  button[type="submit"]:hover {
    background-color: #000000;
  }

  .opciones-login p {
    cursor: pointer;
    color:  #000000b2;
    font-weight: 580;
  }

  .registrarme:hover, .olvido-contrasenia:hover {
    color: #000000;
  }

  .login-icon{
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center
  }

  .login-iniciar, .login-contrasenia{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    display: flex;
    gap: 0.3rem;
    justify-content: center;
    align-items: center;

    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
/** Hero Section **/

main {
    position:relative; /* Para que funcione el absolute de el video */
    min-height: 100vh;

    z-index: 0;
}


video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;

    object-fit: cover;

    z-index: -1;
}

.capa {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.4;
    mix-blend-mode:overlay;

    z-index: 0;
}

.hero-bienvenida {
    width: 100%;
    height: 100vh;
    z-index: 2;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: white;
}

/** Mapa Section **/
.mapa-section {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem;

    background-image: url("../assets/atracciones/2-Camino-de-los-Tuneles.jpg");
    background-size: cover;
}

.mapa-container {
    width: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

#map { 
    height: 400px; 
    width: 100%;
    border: solid 2px black;
}

.mapa-mensaje {
    width: 50%;
    color: rgb(97, 88, 88);
    display: flex;
    justify-content: center;
    align-items: center;
}



